.full{
   
    padding-top: 30px;
    padding-bottom: 40px;
    margin-right: 200px;
    margin-left: 200px;
   
  }

  .sticky {
    z-index: 3;
    position: sticky;
    width: 100vw;
    height: 5em;
    top: 0;
}

.sticky nav {
   
    
    list-style-type: none;
}

.sticky nav li{
    font-size: 15px;
    color: #313131;
    padding: 24px 18px;
    font-weight: 500;
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    list-style: none;
 }

.sticky nav li a:hover {
    color: red;
             
}

.My_Logo{
  width: 120px;
  height: auto;
  margin-left: 10%;
  
}

a{
    text-decoration: none;
    color: black;
    
}

.search-btn {
    background: transparent;
    border: none;
    font-size: 50px;
    color: #313131;
    
}

.nav-switch-btn {
    background: transparent;
    border: none;
    font-size: 50px;
    color: #313131;

    margin-left: 10%;
    
}

  .title{
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 600;
    padding-top: 0px;
    position: relative;
  }

  .subheading{

    font-size: 15px;
    line-height: 30px;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #777;
    

  }


  .bacrus{
    position: absolute;
opacity: .1;
font-size: 170px;
font-weight: 900;
margin-top: -100px;
left: 0;
right: 0;
color: transparent;
text-transform: capitalize;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #000;
margin-left: auto;
margin-right: auto;
text-align: center;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}



main{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-around;
    margin-top: 50px;
 } 

 section.contain-image{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 320px;
    align-items: center;
    background-color: white;
 }
 section.contain-image div.image{
    overflow: hidden;
    display: flex;
    margin: 20px 10px;
    width: 330px;
    /* height: 200px; */
    flex-direction: column;

 }



 .img-title{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.img-sub-title{
    font-size: 15px;
    
    line-height: 30px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}


.image {
  position: relative;

}

.overlay-left-slide {
  position: absolute;     
  opacity:0;
  top: 0;
 right: 100%;
  left: 0;
  width: 0;
height: 46%;
  overflow: hidden;
  transition: .5s ease;
  background-color: red;
}


.image:hover .overlay-left-slide
{
  
  width: 100%;
  opacity:0.5;
}


